body {
	background-color: #1a1a1a;
}
html {
	height: 100%;
}
.navbar {
	background-color: #2a2a2a;
	border-bottom: 1px solid black;
}
.row {
	padding-top: 10px;
}
.customBorder {
	border: 2px solid black;
}