body {
	background-color: #1A1A1A;
	background-image: url("https://i.imgur.com/mdwlj6B.jpg");
	background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
	
}

a{
	text-decoration:none;
}


#welcome {
    text-align: center;
    color: teal;
	font-family: "Advent Pro";
	font-size: 30px;
}

p{
	color: black;
	text-align: center;
	font-family: "Advent Pro";
	font-size: 24px;

}

.kirito{
	
	text-align: center;
	color: green;
	border-style: double;
	width: 40%;
	height: 40%;
	margin: 0 auto;
	font-family: "Antic";
	font-size: 20px;
	padding: 10px;
	background-color: #1A1A1A;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

img{
	width: 50%;
	height: 50%;
	margin: 0 auto;
}

#swbuttons{
	
	text-align: center;
}

button{
	background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 4px;
	padding: 5px 12px;
	font-family: convergence;
	
	
	
}