body {
	background-color: #1A1A1A;
}


#welcome {
    text-align: center;
    color: red;
}

p{
	color: orange;
	text-align: center;
}

.kirito{
	text-align: center;
	color: green;
	border-style: double;
	
}